*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/baseProduction
app/baseDevelopment

/.idea/sonarlint
/.idea/checkstyle-idea.xml
/.idea/findbugs-idea.xml
/.idea/sonarIssues.xml
/.idea/dbnavigator.xml


.idea
/.idea
